{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Bienvenue dans ton back office !{% endblock %}

{% block main %}
    <p>Plus tard, on pourrait imaginer ici une carte qui montre la tournée du jour, le chiffre d'affaire etc.</p>
    <p>L'idée est de centraliser ici les informations importantes pour gérer ton activité.</p>
    <p>Idée de fonctionnalités que j'ai et qui pourraient être ajoutées :</p>
    <ul>
        <li>Dans l'accueil, un calendrier avec les tournées prévues, les jours de livraison etc.</li>
        <li>Dans l'accueil, des graphiques pour suivre l'évolution du chiffre d'affaire, du nombre de clients etc.</li>
        <li>Mettre en place une FAQ (Foire aux questions), pilotée par le backoffice.</li>
        <li>Créer des clients.</li>
        <li>Créer des cimetières (rattaché ou non à un client, horaires d'ouvertures, adresse, téléphone, toutes info utiles, permettra la gestion des tournées).</li>
        <li>Dans les clients, premettre de créer une commande.</li>
        <li>Dans les clients, permettre de générer leur facture PDF.</li>
        <li>Dans les clients, permettre d'envoyer leur facture en pièce jointe.</li>
        <li>Dans les clients, permettre de leur envoyer un mail afin d'annoncer le statut de leur commande (demande envoyée, demande acceptée, prestation planifiée, prestation effectuée .).</li>
        <li>Dans les clients, avoir l'historique de commande d'un client.</li>
        <li>Permettre l'envoi de mail de masse (à tous les clients, aux clients qui ont min X commandes, etc). Permettrait par exemple de donner des bons de réduction ciblés.</li>
        <li>Mettre en place le paiement en ligne.</li>
        <li>Mettre en place les abonnements.</li>
    </ul>
{% endblock %}